

<h2>Enter in an image url and a caption!</h2>


<div class = "newform">
<%= form_for @photo do |f| %>

<p> 
	<%= f.label :image %>
	<%= f.text_field :image %>
</p>


<p>
	<%= f.label :caption %>
	<%= f.text_area :caption %>	
	</p>
	<p>
	<%= f.submit %>
	</p>
<% end %>
<%= link_to "Go back", photos_path %>	
</div>
